.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    border: 1px solid transparent;
    background-color: #F2DEBA;
    max-width: 1000px;
    border-radius: 20px;
    .image{
        box-sizing: border-box;
        height: 80%;
        width: 60%;
        
    }

    .content{
        display: flex;
        justify-content: space-between;
    }
}
img{
    height:100%;
    position: relative;

}

h1{
    color: #FAECD6;
    
}